.about{
    padding: 30px 30px ;
    text-align: center;
    background: transparent;
}
.skill-img {
    transition: ease-in-out;
}
.skill-img:hover {
    transform: scale(1.4);
}
.about-description {
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: left;
    color: white;
}

.about-title{
    text-align: left;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 30px;
    color: white;
}
.about-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(2,1fr);
    font-weight: bold;
    
}
.skill-description{
    color: white;
}
.about-grid div:nth-child(1){
    padding: 20px;
    grid-row: 1;
    grid-column: 1;
}
.about-grid div:nth-child(2){
    padding: 20px;
    grid-row: 1;
    grid-column: 2;
}
.about-grid div:nth-child(3){
    padding: 20px;
    grid-row: 1;
    grid-column:3;
}
.about-grid div:nth-child(4){
    padding: 20px;
    grid-row: 2;
    grid-column: 1;
}
.about-grid div:nth-child(5){
    padding: 20px;
    grid-row: 2;
    grid-column: 2;
}
.about-grid div:nth-child(6){
    padding: 20px;
    grid-row: 2;
    grid-column: 3;
}