.contact {
    padding: 30px 30px;
    text-align: center;
    background: transparent;
    display: block;
}
.container{
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    
}

.contact-subtitle {
    display: flex;
    color: white;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.contact-grid a {
    color: white;
    padding: 20px;
}
a:hover {
    color: #ffcc5c;
}