@media (min-width:600px){
.home {
    min-height: 100vh;
    display: flex;
    padding: 90px;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.avatar {
    margin: 0;
    justify-content: center;
    
}
.avatar img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-right: 40px;
}

.home-description{
  color: white;
  padding-left: 50px;
  font-size: 50px;
}
}
@media (max-width:600px){
    .home {
        min-height: 100vh;
        display: flex;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
        background: transparent;
        flex-direction: column;
    }
    .avatar {
        margin: 0;
        justify-content: center;
    }
    .avatar img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-right: 40px;
    }
    
    .home-description{
      color: white;
      padding-left: 50px;
      font-size: 50px;
    }
}