 @media (max-width: 600px){
    #navbar{
        position: fixed;
        width: 200px;
        height: 240px;
        background-color: black;
        left: -200px;
        border: 2px solid white;
    }
    #navbar.active{
        left: 0;
    }
    .navbar-links {
        background-color: transparent;
        padding: 10px;
    list-style: none;
    display: block;
    height: 100%;
    align-items: center;
    text-align: center;
    }

li {
    font-style: none;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: 10px 15px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
a:hover{
    color: rgb(41, 49, 85);
    
}

.toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
.toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
}

    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        font-weight: bold;
    }
    .skill-description {
        padding: 10px;
        width: 90px;
        height: 90px;
    }
    
    .skill-3{
        display: block;
        grid-row: 4;
        grid-column: 1;
        padding: 20px;
    }
    
    .skill-4{
        display: block;
        grid-row: 4;
        grid-column: 2;
        padding: 20px;
    }
    .contact-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .contact-grid a:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .contact-grid a:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .contact-grid a:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }
    .contact-grid a:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .about-grid div:nth-child(3){ 
        grid-row: 3;
        grid-column:1;
    }
    .about-grid div:nth-child(6){
        grid-row: 3;
        grid-column:2;
    }

 }

