@media (min-width: 600px) {
#navbar {
    position: fixed;
    background: transparent;
    display: flex;
    height: 60px;
    width: 100%;
    z-index: 5;
}
.toggle-btn {
    visibility: hidden;
}
.navbar-container {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content:right;
    margin: 0 auto;
    padding-right: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    padding-left: 20px;
    font-style: none;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
a:hover{
    color: rgb(41, 49, 85);
}

}